* {
    margin: 0;
    padding: 0;
}

body,
h3,
h4,
h1 {
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
}


/* color */
.dark_1 {
    color: #181818;
}

.dark_2 {
    color: #474747;
}

.dark_3 {
    color: #757575;
}

.orange_color {
    color: #FD6E0A;
}

header {
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 230px 0px;
}

header h3 {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 0 40px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    transition: .1s all ease-out;
}

nav li a:hover {
    color: #FD6E0A;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 30px;
    font-family: "Open Sans";
    cursor: pointer;
}

.btn_contact {
    border-radius: 5px;
    background: transparent;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 30px;
}

.btn_download {
    margin-right: 10px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 230px;
}

.banner_content {
    max-width: 580px;
}

.banner_image {
    width: 580px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.banner_content h4 {
    font-weight: 600;
    font-size: 45px;
}

.banner_content h1 {
    font-size: 85px;
    font-weight: 700;
}

.banner_content p {
    font-size: 18px;
    margin: 20px 0;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
.about_innerbg{
    border: 1px solid #000000d0;
    background: #fff;
}
.about{
    text-align: center;
    padding: 130px 155px;
    background: #FFF8F3;
    margin-top: 130px 0;
    border-radius: 10px;
}
.about h1{
    font-size: 35px;
    font-weight: bold;
}

.about p{
    margin: 30px 0;
    font-size: 18px;
}

.about_items{
    display: flex;
    justify-content: space-around;
}

.about_item{

}

.about_item p{
    margin: 0;
    font-size: 20px;
}

.about_item h4{
    margin-top: 10px;
    font-weight: bold;
}